{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Контакты</h1>
            <p class="fs-5 text-body-secondary">Вы находитесь на странице с информацией о нас</p>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row text-start">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <table class="table table-striped">
                                <tr>
                                    <td class="w-25">Страна</td>
                                    <td>Россия</td>
                                </tr>
                                <tr>
                                    <td class="w-25">ИНН</td>
                                    <td>91-1144442</td>
                                </tr>
                                <tr>
                                    <td class="w-25">ОГРН</td>
                                    <td>106-46-2449</td>
                                </tr>
                                <tr>
                                    <td class="w-25">КПП</td>
                                    <td>044-51-87</td>
                                </tr>
                                <tr>
                                    <td class="w-25">БИК</td>
                                    <td>50-01098</td>
                                </tr>
                                <tr>
                                    <td class="w-25">Адрес</td>
                                    <td>г. Хабаровск, ул. Ленина 36, офис №6</td>
                                </tr>
                                <tr>
                                    <td class="w-25">Почтовый индекс</td>
                                    <td>680041</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" action="" class="form-floating">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="name">Имя</label>
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone">Телефон</label>
                                    <input type="text" name="phone" class="form-control" id="phone"
                                           placeholder="Контактный телефон" required>
                                </div>
                                <div class="mb-3">
                                    <label for="message">Сообщение</label>
                                    <textarea type="text" name="message" class="form-control" id="message"
                                              placeholder="Ваше сообщение" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
